@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap");
.contacto__1 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__2 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__3 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__4 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__5 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__6 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__7 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

.contacto__8 {
  color: white;
  margin-right: 18px;
  width: 100%;
}

section div.banner__cliente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #bbfff9;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(187, 255, 249, 0.479412)), color-stop(57%, rgba(0, 245, 16, 0.490616)), to(rgba(0, 212, 255, 0.454202)));
  background: linear-gradient(90deg, rgba(187, 255, 249, 0.479412) 3%, rgba(0, 245, 16, 0.490616) 57%, rgba(0, 212, 255, 0.454202) 100%);
  margin-left: 10px;
}

.banner__cliente--image {
  width: 17.4rem;
  height: 8rem;
}

.catalogo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.catalogo__image .catalogo__image--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogo__image .catalogo__image--position .catalgo__image--tamaño {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
  background-color: #ddd5d5;
}

.catalogo__image .catalogo__image--position .catalgo__image--tamaño figure {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.catalogo__image .catalogo__image--position .catalgo__image--tamaño figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.catalogo__image .catalogo__image--position .catalgo__image--tamaño figure .capa {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: inherit;
}

.catalogo__image .catalogo__image--position .catalgo__image--tamaño figure .capa h3 {
  position: absolute;
  font-size: 15px;
}

.catalogo__image .catalogo__image--position .catalgo__image--tamaño figure .capa spam {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 3rem;
  font-family: 'B612', sans-serif;
  text-align: center;
  color: black;
  font-size: 15px;
}

#fig__sombra:hover > .capa {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 1;
  visibility: visible;
}

div.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ddd5d5;
  font-size: 1rem;
}

div.form label {
  color: rgba(172, 9, 123, 0.486);
  margin-top: 5px;
  font-size: 20px;
  font-style: italic;
}

li .novedad__image {
  width: 15rem;
  height: 15rem;
  margin-right: 30px;
}

.texto__desplegable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  color: black;
  text-shadow: none;
}

.texto__desplegable .texto__desplegable--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
  max-width: 100% !important;
  overflow-x: hidden !important;
  /* descubrí este reseteo para que no se me vea un espacio a la derecha en vista mobile cuando algun elemento se desborda. Intente haciendo overflow:hidden y quitar el scroll x , pero se seguia moviendo de todas formas */
}

html body {
  background: #cbdfed;
  background: -webkit-gradient(linear, left top, right top, from(#cbdfed), color-stop(76%, #3c3d40), to(#b0b1bd));
  background: linear-gradient(90deg, #cbdfed 0%, #3c3d40 76%, #b0b1bd 100%);
  color: white;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #dbdae4;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  list-style: none;
  margin-right: 3%;
}

nav ul li a {
  text-decoration: none;
  font-size: 22px;
}

.logotipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  max-width: 100%;
  color: white;
}

main section {
  margin-bottom: 10px;
}

main section a {
  text-decoration: none;
}

h1 {
  color: white;
  margin-left: 10px;
  display: none;
}

h2 {
  width: 100%;
  margin-left: 12px;
  margin-top: 10px;
  font-family: 'B612', sans-serif;
  text-shadow: 5px 6px 2px black;
  font-size: 40px;
  color: #72c5f5;
  color: white;
}

h3 {
  margin-left: 25px;
  font-family: 'B612', sans-serif;
  text-shadow: 3px 3px 2px black;
  color: #72c5f5;
  color: white;
  height: 100%;
}

.tarjeta__empresa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  margin: auto;
}

#tarjeta__historia1, #tarjeta__historia2 {
  width: 43rem;
  color: #248de2;
  text-align: justify;
}

/* Estilos Navbar */
#search__contenedor {
  margin-right: 2%;
  margin-left: 2%;
}

#search__input {
  border: 0;
  background: #ecea61;
  color: black;
  outline: none;
}

#search__button {
  color: grey;
}

#form__login {
  margin-right: 15%;
  margin-top: 40px;
}

.tarjetaproducto {
  margin-bottom: 30px;
}

.tarjetaproducto .card-title {
  font-size: 1.5rem;
  color: #818194;
  font-style: italic;
  text-align: center;
}

.tarjetaproducto .card-body p {
  font-family: "B612";
  font-size: 20px;
  background: #c3e2e4;
  padding: 10px;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.tarjetaproducto .tarjetaproducto__posicionamiento {
  margin-bottom: 10px;
  border-radius: 25px;
}

.tarjetaproducto .dale__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tarjetaproducto .dale__like li {
  list-style: none;
}

.fondobomba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #bbfff9;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(187, 255, 249, 0.479412)), color-stop(18%, rgba(0, 34, 245, 0.490616)), to(rgba(0, 212, 255, 0.454202)));
  background: linear-gradient(90deg, rgba(187, 255, 249, 0.479412) 3%, rgba(0, 34, 245, 0.490616) 18%, rgba(0, 212, 255, 0.454202) 100%);
}

div.navegacion {
  background: -webkit-gradient(linear, left top, right top, from(#cbdfed), color-stop(76%, #3c3d40), to(#b0b1bd));
  background: linear-gradient(90deg, #cbdfed 0%, #3c3d40 76%, #b0b1bd 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

div.navegacion .tamaño__img--navegacion {
  width: 10%;
  height: 10%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #cbdfed;
  background: -webkit-gradient(linear, left top, right top, from(#cbdfed), color-stop(76%, #3c3d40), to(#b0b1bd));
  background: linear-gradient(90deg, #cbdfed 0%, #3c3d40 76%, #b0b1bd 100%);
  height: 200px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Lobster Two', cursive;
  font-size: 1.6rem;
  color: #fffc4a;
  text-shadow: 4px 4px 2px black;
}

footer div.footer__line {
  width: 100%;
  height: 8px;
  background-color: black;
}

footer div.footer__image {
  width: 3rem;
  height: 3rem;
}

footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section article {
  background: #cbdfed;
  background: -webkit-gradient(linear, left top, right top, from(#cbdfed), color-stop(50%, #63e3eb), color-stop(82%, #52ddf4), to(#4555fc));
  background: linear-gradient(90deg, #cbdfed 0%, #63e3eb 50%, #52ddf4 82%, #4555fc 100%);
}

.footer__image--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.footer__image--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.footer__image--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

@media all and (max-width: 992px) {
  footer {
    width: 100%;
    height: 22rem;
  }
  footer span {
    margin-top: 3rem;
    font-size: 2.5rem;
    display: none;
  }
  footer div.footer__image {
    width: 4rem;
    height: 4rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  section article.tarjetaproducto {
    margin-top: 20px;
  }
  h3 {
    margin-top: 20px;
    text-align: center;
  }
  div.carousel {
    display: none;
  }
  nav li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media all and (min-width: 992px) {
  footer div.footer__line {
    display: none;
  }
}

@media all and (max-width: 816px) {
  #video__gerente {
    width: 36rem;
    height: 20rem;
  }
}

@media all and (max-width: 576px) {
  * {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  div.catalogo__repuesto1, div.catalogo__repuesto2, div.catalogo__repuesto3, div.catalogo__repuesto4, div.catalogo__repuesto5, div.catalogo__repuesto6, div.catalogo__repuesto7, div.catalogo__repuesto8, div.catalogo__repuesto9, div.catalogo__repuesto10, div.catalogo__repuesto11, div.catalogo__repuesto12 {
    width: 35rem;
    margin-right: none;
    margin-left: 1.8px;
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  div #bomba {
    width: 80%;
  }
  section article.tarjetaproducto {
    margin-top: 20px;
  }
  div #image--tamaño--mq {
    width: 5rem;
    height: 5rem;
    background-color: hotpink;
  }
  div #image--tamaño--mq figure {
    margin-top: 5px;
    width: 5rem;
    height: 5rem;
  }
  div #image--tamaño--mq figure h3, div #image--tamaño--mq figure spam {
    font-size: 10px;
  }
}

@media all and (max-width: 1200px) {
  div#tarjeta__historia {
    width: 100%;
  }
  .banner__cliente--image {
    margin-top: 10px;
  }
  .tarjeta__empresa {
    width: 100%;
  }
  #tarjeta__historia1, #tarjeta__historia2 {
    margin: auto;
  }
  #tarjeta__historia2 {
    margin-top: 10px;
  }
  li .novedad__image {
    width: 10rem;
    height: 10rem;
    margin-right: 30px;
  }
}

@media all and (max-width: 796px) {
  .banner__cliente--image {
    width: 100%;
    height: 14rem;
    margin-top: 10px;
  }
  article.catalogo__producto1, article.catalogo__producto2, article.catalogo__producto3, article.catalogo__producto4, article.catalogo__producto5, article.catalogo__producto6, article.catalogo__producto7, article.catalogo__producto8, article.catalogo__producto9, article.catalogo__producto10, article.catalogo__producto11, article.catalogo__producto12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    margin-right: none;
    margin-left: 1.8px;
    width: 100%;
    height: auto;
  }
  li .novedad__image {
    width: 6rem;
    height: 6rem;
    margin-right: 30px;
  }
}

@media all and (max-width: 576px) {
  article.catalogo__producto1, div.catalogo__producto2, div.catalogo__producto3, div.catalogo__producto4, div.catalogo__producto5, div.catalogo__producto6, div.catalogo__producto7, div.catalogo__producto8, div.catalogo__producto9, div.catalogo__producto10, div.catalogo__producto11, div.catalogo__producto12 {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #video__gerente {
    width: 24rem;
    height: 13rem;
  }
}

@media all and (max-width: 496px) {
  li .novedad__image {
    width: 3rem;
    height: 3rem;
    margin-right: 30px;
  }
  #video__gerente {
    width: 18rem;
    height: 10rem;
  }
  .galeria__image1 {
    width: 100%;
  }
}

.catalogo__producto1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

.catalogo__producto12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 6px 6px 4px #00205c;
  width: 28rem;
  height: 100%;
  margin-top: 10px;
  background-color: grey;
  text-align: center;
}

div.catalogo__image--tamaño {
  width: 26.5rem;
  height: 22rem;
}

.galeria__image--contenedor {
  width: 15rem;
  height: 15rem;
  margin-top: 10px;
  border-radius: 15px;
  background-color: grey;
}

.galeria__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -1;
}

.galeria__image figure {
  z-index: -1;
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 5px 10px 20px rgba(18, 20, 150, 0.548);
          box-shadow: 5px 10px 20px rgba(18, 20, 150, 0.548);
}

.galeria__image figure img {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.galeria__image figure .capa1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(43, 60, 92, 0.486);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  visibility: hidden;
}

.galeria__image #fig__sombra--img:hover > .capa1 {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 1;
  visibility: visible;
}

.galeria__image figure {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.galeria__image figure:hover {
  -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1.15);
          transform: rotate(0deg) translate(0px, 0px) scale(1.15);
  background-color: rgba(0, 0, 0, 0.678);
}

.lbl-modal--gimage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
}

.modal__galeria {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.modal__galeria .contenedor__modal {
  width: 80%;
  height: auto;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 2px 7px 25px rgba(255, 255, 255, 0.6);
          box-shadow: 2px 7px 25px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
}

.modal__galeria .contenedor__modal header {
  padding: 10px;
  background: #db5046;
  color: #fff;
  text-align: center;
}

.modal__galeria .contenedor__modal label {
  position: absolute;
  width: 30px;
  top: 6px;
  right: 20px;
  font-size: 20px;
  background: black;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}

article.catalogo div {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section.catalogo {
  margin-right: 10px;
  margin-left: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* anular cualquier tipo de animacion   {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    transform: none !important;
    margin-top: 20px;
} */
}

section.catalogo a.btn.btn-primary {
  margin-top: 10px;
}

section.catalogo li a.btn-gas {
  margin-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

section.catalogo div#ani {
  -webkit-transition: all 2s;
  transition: all 2s;
}

section.catalogo div#ani:hover {
  -webkit-transform: rotate(0deg) translate(10px, 2px) scale(1.04);
          transform: rotate(0deg) translate(10px, 2px) scale(1.04);
}

section.catalogo .catalogo--promocion {
  /* BEM producto en promocion */
  background-color: #00ff4c;
  color: black;
  -webkit-transition: all 2.3s;
  transition: all 2.3s;
}

section.catalogo .catalogo--promocion:hover {
  -webkit-transform: rotate(0) translate(-2rem, 3rem) scale(1.5);
          transform: rotate(0) translate(-2rem, 3rem) scale(1.5);
}

section.catalogo .catalogo--sinstock {
  /* BEM cuando no hay stock */
  background-color: yellow;
  color: black;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section.catalogo .catalogo--sinstock:hover {
  opacity: 0.5;
  -webkit-transform: rotate(10deg) translate(0) scale(0.8);
          transform: rotate(10deg) translate(0) scale(0.8);
}

/* estilos modal */
.modal__position {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.modal__position .lbl-modal {
  color: black;
  width: 50%;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: grey;
  background: #ecea61;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.modal__position #btn-modal:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal1:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal2:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal3:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal4:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal5:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal6:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal7:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal8:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal9:checked ~ .modal__position {
  height: 100%;
}

.modal__position #btn-modal, .modal__position #btn-modal1, .modal__position #btn-modal2, .modal__position #btn-modal3, .modal__position #btn-modal4, .modal__position #btn-modal5, .modal__position #btn-modal6, .modal__position #btn-modal7, .modal__position #btn-modal8, .modal__position #btn-modal9 {
  display: none;
}

.modal__position .modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  visibility: hidden;
}

.modal__position #btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal1:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal2:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal3:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal4:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal5:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal6:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal7:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal8:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position #btn-modal9:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.modal__position .contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #ecea61;
  -webkit-box-shadow: 1px 7px 25px;
          box-shadow: 1px 7px 25px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
}

.modal__position .contenedor header {
  padding: 10px;
  background: #ecea61;
}

.modal__position .contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=estilo.css.map */