@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
  max-width: 100% !important;
  overflow-x: hidden !important;
  /* descubrí este reseteo para que no se me vea un espacio a la derecha en vista mobile cuando algun elemento se desborda. Intente haciendo overflow:hidden y quitar el scroll x , pero se seguia moviendo de todas formas */
}

html body.claro {
  -webkit-transition: 10s ease all;
  transition: 10s ease all;
  background-image: url(https://static6.depositphotos.com/1005574/664/v/450/depositphotos_6644153-stock-illustration-abstract-background.jpg);
  color: white;
  overflow: hidden;
  font-family: 'Readex Pro', sans-serif;
}

html body.oscuro {
  -webkit-transition: 10s ease all;
  transition: 10s ease all;
  background-image: url(https://st.depositphotos.com/1012885/4990/i/450/depositphotos_49900577-stock-photo-large-grunge-textures-backgrounds.jpg);
  color: white;
  overflow: hidden;
  font-family: 'Readex Pro', sans-serif;
}

html main {
  padding: 10px 10%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  background: #202020;
}

body.oscuro nav {
  background-color: #dbdae4;
}

nav .switchContainer {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.claro nav ul .dropdown-menu {
  background-color: #de1f1f !important;
}

body.oscuro nav ul .dropdown-menu {
  background-color: #a5de1f !important;
}

nav ul li {
  list-style: none;
  margin-right: 3%;
}

nav ul li a {
  text-decoration: none;
  font-size: 22px;
  margin-right: 10px;
}

body.claro nav ul li a {
  color: #beb9b9 !important;
}

body.claro nav ul li a:hover {
  color: #fff !important;
}

body.oscuro nav ul li a {
  color: #393636 !important;
}

body.oscuro nav ul li a:hover {
  color: black !important;
}

/* main {
    max-width: 100%;
    color: white;
    section {
    padding: 10px 5%;
    margin-bottom: 10px;
    
    a {
       text-decoration: none; 
        } 
    }
} */
footer {
  background-color: #202020;
  color: #fff;
  height: 100%;
  padding-top: 40px;
}

footer .container-footer-all {
  max-width: 1400px;
  padding: 10px 5%;
  margin-bottom: 10px;
}

footer .container-footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .column1 {
  max-width: 400px;
  height: 100%;
}

footer .column1 h3 {
  font-size: 22px;
  text-align: center;
}

footer .column1 p {
  margin-top: 20px;
  font-size: 14px;
  color: #c7c7c7;
}

footer .column2 {
  min-width: 400px;
  text-align: center;
  height: 100%;
}

footer .column2 h3 {
  font-size: 22px;
}

footer .column2 .row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

footer img {
  width: 35px;
  height: 36px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .row1 a {
  text-decoration: none;
}

footer label {
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7;
  cursor: pointer;
}

footer .column3 {
  min-width: 400px;
  height: 100%;
}

footer .column3 h3 {
  font-size: 22px;
  text-align: center;
}

footer .row2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row2 i {
  width: 36px;
  height: 36px;
  font-size: 36px;
}

footer .row2-map i {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  font-size: 36px;
}

footer .row2 label {
  margin-left: 20px;
  max-width: 140px;
}

footer .container-footer {
  width: 100%;
  background: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

footer .copyright {
  color: #c7c7c7;
}

footer a {
  font-weight: bold;
}

footer .information {
  margin-right: 200px;
}

footer .information a {
  color: #c7c7c7;
}

/* Estilos Navbar complementarios / se intentaba con esta consigna que no se parezca al que viene por defecto con botstrap, pero me costo poder administrar estos recursos*/
#search__contenedor {
  margin-right: 2%;
  margin-left: 2%;
}

#search__input {
  border: 0;
  color: black;
  outline: none;
}

#search__button {
  color: grey;
}

h1 {
  width: 100%;
  margin-left: 12px;
  margin-top: 10px;
  font-family: 'B612', sans-serif;
  font-size: 40px;
}

h2 {
  width: 100%;
  margin-left: 12px;
  margin-top: 10px;
  font-family: 'B612', sans-serif;
  font-size: 40px;
}

h3 {
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'B612', sans-serif;
  text-shadow: 3px 3px 2px black;
  color: #72c5f5;
  color: white;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .container-footer-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .column1 {
    max-width: 100%;
  }
  .column2,
  .column3 {
    margin-top: 40px;
  }
  .container-image {
    min-width: 100%;
    height: 100%;
  }
}

.novisible {
  display: none;
  visibility: hidden;
}

.container__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerP {
  width: 280px;
  height: 500px;
  margin: 30px auto;
  margin-right: 20px;
}

.cardP {
  border-radius: 25px;
  -webkit-box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
          box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}

.cardP-head {
  position: relative;
  height: 252px;
  background: #fa782e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.cardP-logo {
  width: 55px;
  margin: 20px;
}

.productP-img {
  position: absolute;
  left: 0;
  margin-top: -26px;
  margin-left: 90px;
}

.productP-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
  width: 60%;
}

.productP-detail span {
  font-size: 14px;
}

.productP-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.cardP-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
  color: black;
}

.productP-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.productP-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.inStock {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.noStock {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #e91111;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.inStock {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.midStock {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #faa640;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.productP-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.productP-rating {
  padding: 0 20px;
  font-size: 11px;
}

.productP-rating i.grey {
  color: #acacab;
}

.productP-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
  cursor: pointer;
}

.ul-size li.active {
  background: #f35e3d;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.productP-size:before,
.productP-size:after {
  content: '';
  display: block;
  clear: both;
}

.productP-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.productP-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-left: -5px;
  -webkit-box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
          box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
  text-transform: uppercase;
  cursor: pointer;
}

.productP-price a {
  text-decoration: none;
  color: white;
  font-size: 21px;
}

.productP-price b {
  margin-left: 5px;
}

.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
  background: rgba(0, 0, 0, 0.2);
}

.modalDesc {
  width: 280px;
  height: 20rem;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  border-radius: 5%;
  border: 3.5px solid #11e95b;
  z-index: 1;
}

.modalDesc h2 {
  font-size: 17px;
}

.btnModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: calc((100% / 2) - 12px);
  border-radius: 50%;
  background-color: #11e95b;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

#caracterContainer {
  font-size: 14px;
}

.ocultar__form {
  display: none;
}

.ocultar__carrito {
  display: none;
}

.tamañoLetraCaracteristica {
  font-size: 12px;
}

.carrito__superior {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  width: 800px;
  height: auto;
  min-height: 200px;
  background-color: #f0f0f0;
  z-index: 1;
  border-radius: 10px;
}

/* seccion que va a definir estilos para mi carrito de compras */
.lista__tabla ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lista__tabla ul li {
  list-style: none;
}

.lista__tabla ul li i {
  cursor: pointer;
}

#carritoIcon {
  cursor: pointer;
  font-size: 35px;
}

#notifyIcon {
  cursor: pointer;
  font-size: 35px;
  color: red;
}

.notifyContainer {
  position: relative;
}

.notifyCuantity {
  position: absolute;
  bottom: 0px;
  left: -10px;
  background-color: white;
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 50%;
  color: black;
}

body.oscuro .notifyCuantity {
  background-color: black !important;
  color: #fff !important;
}

.carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #868d8c;
}

.carrito h4 {
  font-size: 14px;
}

.contenedor__img__carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 160%;
}

.precio__total {
  position: absolute;
  right: 100px;
  bottom: 10px;
}

.btn__borrarCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  background-color: #fc4141;
  color: white;
  cursor: pointer;
}

.btn__confirmarCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000000;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.switch.active::after {
  right: 0;
  left: unset;
  -webkit-transition: 10s ease all;
  transition: 10s ease all;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.card-body h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.card-body H5, .card-body span, .card-body p {
  text-align: center;
}

.card-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
}

.card,
.card-body,
.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border-radius: 18px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
  display: block;
  position: relative;
  height: 400px;
  min-width: 100%;
}

.card-image img {
  max-height: 100%;
  width: 100%;
  background-size: cover;
}

.card-body {
  padding: 20px 28px;
}

.card-body .date {
  font-weight: bolder;
  font-size: 1.8em;
}

.card-body h4 {
  font-size: 1.5em;
  color: black;
}

h5 {
  color: black;
}

.card-body p {
  color: gray;
  font-size: 1.1em;
  line-height: 22px;
  text-align: center;
}

.card-footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.card-footer .info {
  font-size: 0.9em;
  padding: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.card-footer .info:last-child {
  border: none;
}

.card-footer .info .type {
  text-transform: uppercase;
  margin-top: 2px;
  font-size: 0.8em;
}

.card:nth-child(1) .card-footer {
  background: #ff0c71;
}

.card:nth-child(1) .date {
  color: #ff0c71;
}

.card:nth-child(2) .card-footer {
  background: #ff510c;
}

.card:nth-child(2) .date {
  color: #ff510c;
}

.card:nth-child(3) .card-footer {
  background: #03b43e;
}

.card:nth-child(3) .date {
  color: #03b43e;
}

.card:nth-child(4) .card-footer {
  background: #ccbf09;
}

.card:nth-child(4) .date {
  color: #ccbf09;
}

.card:nth-child(5) .card-footer {
  background: #09cca2;
}

.card:nth-child(5) .date {
  color: #09cca2;
}

.card:nth-child(6) .card-footer {
  background: #75f122;
}

.card:nth-child(6) .date {
  color: #75f122;
}

.card:nth-child(7) .card-footer {
  background: #fff126;
}

.card:nth-child(7) .date {
  color: #fff126;
}

.card:nth-child(8) .card-footer {
  background: #c2c2c2;
}

.card:nth-child(8) .date {
  color: #c2c2c2;
}

.card:nth-child(9) .card-footer {
  background: #ff0c71;
}

.card:nth-child(9) .date {
  color: #ff0c71;
}

.card:nth-child(10) .card-footer {
  background: #ff510c;
}

.card:nth-child(10) .date {
  color: #ff510c;
}

.card:nth-child(11) .card-footer {
  background: #03b43e;
}

.card:nth-child(11) .date {
  color: #03b43e;
}

.card:nth-child(12) .card-footer {
  background: #ccbf09;
}

.card:nth-child(12) .date {
  color: #ccbf09;
}

.card:nth-child(13) .card-footer {
  background: #09cca2;
}

.card:nth-child(13) .date {
  color: #09cca2;
}

.card:nth-child(14) .card-footer {
  background: #75f122;
}

.card:nth-child(14) .date {
  color: #75f122;
}

.card:nth-child(15) .card-footer {
  background: #fff126;
}

.card:nth-child(15) .date {
  color: #fff126;
}

.card:nth-child(16) .card-footer {
  background: #c2c2c2;
}

.card:nth-child(16) .date {
  color: #c2c2c2;
}

.leyenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.leyenda h3 {
  font-size: 20px;
}

div.rueda section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.box {
  z-index: 1;
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
            transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
            transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
            transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
            transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(calc(var(--i) * 45deg)) translateZ(250px);
          transform: rotateX(calc(var(--i) * 45deg)) translateZ(250px);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 35vh;
  font-size: 36px;
  text-transform: uppercase;
}

.container-1 {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container-1::after {
  content: "";
  width: 2px;
  height: 100%;
  background: #1b3231;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  z-index: 1;
}

.evento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
  position: relative;
}

.evento::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #DCDFD9;
  border: 2px solid #1b3231;
  position: absolute;
  z-index: 2;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
}

.fecha {
  margin-top: auto;
  width: calc(42% + 20px);
  font-size: 32px;
  font-weight: normal;
}

.foto {
  width: 46%;
  border: 5px solid #fff;
  position: relative;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  right: -40px;
  top: calc(50% - 20px);
}

.foto img {
  width: 100%;
  vertical-align: top;
}

.evento:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.evento:nth-child(even) .foto::after {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  right: initial;
  left: -40px;
}

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  background-color: #4caf50;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::-webkit-input-placeholder {
  color: black;
}

.contact-form *:-ms-input-placeholder {
  color: black;
}

.contact-form *::-ms-input-placeholder {
  color: black;
}

.contact-form *::placeholder {
  color: black;
}

.contact-form [required]:valid {
  border: thick solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thick solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  -webkit-animation: show-message 1s 1 normal 0s ease-out both;
          animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.none {
  display: none;
}

@-webkit-keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.tito {
  background-color: #f44336;
}
/*# sourceMappingURL=estilo.css.map */