.ocultar__form {
    display: none;
}

.ocultar__carrito {
    display: none;
}

.tamañoLetraCaracteristica {
    font-size: 12px;
}

.carrito__superior {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 800px;
    height: auto;
    min-height: 200px;
    background-color: rgb(240, 240, 240);
    z-index: 1;
    border-radius: 10px;
}

/* seccion que va a definir estilos para mi carrito de compras */
.lista__tabla {
    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;

            i {
                cursor: pointer;
            }
        }
    }
}

#carritoIcon {
    cursor: pointer;
    font-size: 35px;
}

#notifyIcon {
    cursor: pointer;
    font-size: 35px;
    color: red;
}

.notifyContainer {
    position: relative;
}

.notifyCuantity {
    position: absolute;
    bottom: 0px;
    left: -10px;
    background-color: white;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    color: black;

    body.oscuro & {
        background-color: black !important;
        color: #fff !important;
    }

}

.carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;

    h4 {
        font-size: 14px;
    }

    background-color: rgb(134, 141, 140);
}

.contenedor__img__carrito {
    display: flex;
    width: 20%;
    height: 160%;
}

.precio__total {
    position: absolute;
    right: 100px;
    bottom: 10px;
}

.btn__borrarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    background-color: rgb(252, 65, 65);
    color: white;
    cursor: pointer;
}

.btn__confirmarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


///////////////////////Estilos y control, de mi BTN darckMode//////////////////////////
.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #F1F1F1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: 1s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    }

    &.active {
        background: orange;
        color: #000000;
        transition: 1s ease all;

        &::after {
            right: 0;
            left: unset;
            transition: 10s ease all;
        }
    }

    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}

///////////////////////Estilos y control, de mi BTN setter//////////////////////////
#btnSetter,
.active1 {

    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;

    &.active1 {

        color: yellowgreen;

    }
}

#btnTools,
.active1 {

    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;

    &.active1 {

        color: yellowgreen;

    }
}

///////////////////////////Estilos de mi BoxTools////////////////////
.toolsBox {
    width: 60%;
    max-width: 60%;
    background-color: white;
    max-height: 90%;
    color: black;
    position: fixed;
    right: 0;
    top: 65px;
    border-radius: 10px;
    z-index: 1;
    overflow: auto;

    .card-header {
        background-color: rgb(75, 72, 72) !important;

        body.oscuro & {
            background-color: white !important;
        }

        h3 {
            color: #014995 !important;
            text-align: center;
        }
    }

    .card-body {
        width: 100%;
        padding: 10%;
        background: url(https://definicion.de/wp-content/uploads/2010/06/herramienta-1.jpg);
        overflow-y: scroll;
        overflow-X: hidden;

    }

    .card-footer {
        background-color: rgb(75, 72, 72) !important;

        body.oscuro & {
            background-color: white !important;

        }
    }

}