.ocultar__form {
    display: none;
}
.ocultar__carrito {
    display: none;
}
.tamañoLetraCaracteristica {
    font-size: 12px;
}
.carrito__superior {
    display: block;
    position:absolute;
    top: 40px;
    right: 0;
    width: 800px;
    height: auto;
    min-height: 200px;
    background-color: rgb(240, 240, 240);
    z-index: 1;
    border-radius: 10px;
}
/* seccion que va a definir estilos para mi carrito de compras */
.lista__tabla {
    ul {
        display: flex;
        justify-content: space-between;
        li {
            list-style:none;
        i {
            cursor: pointer;    
            }
        }
    }
}
#carritoIcon {
    cursor: pointer;
    font-size: 35px;
}
#notifyIcon {
    cursor: pointer;
    font-size: 35px;
    color: red;
}
.notifyContainer {
    display: flex;
    margin: auto;
    width: 12%;
    position: relative;
}
.notifyCuantity {
    position: absolute;
    bottom: 0px;
    left: -10px;
    background-color: white;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    color: black;

}
.carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
    h4 {
        font-size:14px ;
    }
    background-color: rgb(134, 141, 140);
}
.contenedor__img__carrito {
    display: flex;
    width: 20%;
    height: 160%;
}
.precio__total {
    position: absolute;
    right: 100px;
    bottom: 10px;
}
.btn__borrarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    background-color: rgb(252, 65, 65);
    color: white;    
    cursor: pointer;
}
.btn__confirmarCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}