@for $i from 1 through 8 {  
    .contacto__#{$i} { 
        color: white;
        margin-right: 18px;
        width: 100%;
        
    }
}
section div.banner__cliente {
    display: flex;
    
    width: 100%;
    background: rgb(187,255,249);
    background: linear-gradient(90deg, rgba(187,255,249,0.4794117476091999) 3%, rgba(0,245,16,0.49061622940191707) 57%, rgba(0,212,255,0.45420166357558645) 100%);
    margin-left: 10px;
    }
    .banner__cliente--image {
        width: 17.4rem;
        height: 8rem;
        
}
.catalogo__image {
    display: flex;
    width: 100%;
    margin-right: 10%;
    align-items: center;
    margin: auto;
    .catalogo__image--position {
        display: flex;
        justify-content: space-between;
        
// este contenedor ademas de definir el tamaño maximo que ocupara la img. va a ser el contenedor para hacer el efecto hover y texto
    .catalgo__image--tamaño { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 12rem;
        border-radius: 15px;
        background-color: rgb(221, 213, 213);
          
        figure {
            position: relative;
            width: 12rem;
            height: 12rem;
            overflow: hidden;
            border-radius: 10px;
                img {
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;}
                cursor: pointer;
                .capa {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,103,123,0.7);
                    transition: all 500ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: inherit;
                        h5 {
                            position: absolute;
                            top: 50px;
                            left:5px;
                            font-size: 15px;
                            
                        }
                        spam {
                            position: relative;
                            display: flex;
                            top:15rem;
                            font-family: 'B612', sans-serif;
                            text-align: center;
                            color: rgb(218, 215, 53);
                            font-size: 15px;
                        } 
                    }
                }
            }
        }
    }
#fig__sombra:hover > .capa {
    transition: all 500ms ease-out;
    opacity: 1;
    visibility: visible;
    h5 {
        transition: all 1s ease-out;
        top: 5px;
    }
    spam {
        transition: all 1.5s ease-out;
        top: 5rem;
    }

}

div.form {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(221, 213, 213);
    
    font-size: 1rem;
    label {
        color: rgba(172, 9, 123, 0.486);
        margin-top: 5px;
        font-size: 20px;
        font-style: italic;
    }
}
li .novedad__image {
    width: 15rem;
    height: 15rem;
    margin-right: 30px;
}
.texto__desplegable {
    display: flex;
    text-align: justify;
    color: black;
    text-shadow: none;
    .texto__desplegable--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}