@for $i from 1 through 8 {  
    .contacto__#{$i} { 
        color: white;
        margin-right: 18px;
        width: 100%;
        
    }
}
section div.banner__cliente {
    display: flex;
    
    width: 100%;
    background: rgb(187,255,249);
    background: linear-gradient(90deg, rgba(187,255,249,0.4794117476091999) 3%, rgba(0,245,16,0.49061622940191707) 57%, rgba(0,212,255,0.45420166357558645) 100%);
    margin-left: 10px;
    }
    .banner__cliente--image {
        width: 17.4rem;
        height: 8rem;
        
}
.catalogo__image {
    display: flex;
    width: 100%;
    margin-right: 10%;
 
    .catalogo__image--position {
        display: flex;
        width: 50%;
        height: 8rem;
        margin-top: 3rem;
        justify-content: space-between;
        background-color: rgb(221, 213, 213);

    .catalgo__image--tamaño {
        width: 7rem;
        height: 7rem;
        
        margin-right: 10px;
        }
    }
}
div.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(221, 213, 213);
    
    font-size: 1rem;
    label {
        color: rgba(172, 9, 123, 0.486);
        margin-top: 5px;
        font-size: 20px;
        font-style: italic;
    }
}
