.card-list {
    width                : 100%;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap             : 4em
}

.card,
.card-body,
.card-footer {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.card {
    border-radius: 18px;
    background   : #fff;
    box-shadow   : 4px 4px 25px rgba(0, 0, 0, 0.4);
    overflow     : hidden;
    cursor       : pointer;
    transition   : transform 0.4s;
}

.card:hover {
    transform : scale(1.05);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
    display  : block;
    position : relative;
    height   : 400px;
    min-width: 100%;
}

.card-image img {
    max-height     : 100%;
    width          : 100%;
    background-size: cover;
}

.card-body {
    padding: 20px 28px;
}

.card-body .date {
    font-weight: bolder;
    font-size: 1.8em;
}

.card-body h4 {
    font-size: 1.5em;
    color: black;
   
}
h5 {
    color: black;  
  }

.card-body p {
    color      : gray;
    font-size  : 1.1em;
    line-height: 22px;
    text-align : center;
}

.card-footer {
    width                : 100%;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-footer .info {
    font-size     : 0.9em;
    padding       : 10px;
    color         : #fff;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    border-right  : 1px solid rgba(0, 0, 0, 0.1);
}

.card-footer .info:last-child {
    border: none;
}

.card-footer .info .type {
    text-transform: uppercase;
    margin-top    : 2px;
    font-size     : 0.8em;
}

.card:nth-child(1) .card-footer {
    background: #ff0c71;
}

.card:nth-child(1) .date {
    color: #ff0c71;
}

.card:nth-child(2) .card-footer {
    background: #ff510c;
}

.card:nth-child(2) .date {
    color: #ff510c;
}

.card:nth-child(3) .card-footer {
    background: #03b43e;
}

.card:nth-child(3) .date {
    color: #03b43e;
}

.card:nth-child(4) .card-footer {
    background: #ccbf09;
}

.card:nth-child(4) .date {
    color: #ccbf09;
}

.card:nth-child(5) .card-footer {
    background: #09cca2;
}

.card:nth-child(5) .date {
    color: #09cca2;
}

.card:nth-child(6) .card-footer {
    background: #75f122;
}

.card:nth-child(6) .date {
    color: #75f122;
}

.card:nth-child(7) .card-footer {
    background: #fff126;
}

.card:nth-child(7) .date {
    color: #fff126;
}

.card:nth-child(8) .card-footer {
    background: #c2c2c2;
}

.card:nth-child(8) .date {
    color: #c2c2c2;
}

.card:nth-child(9) .card-footer {
    background: #ff0c71;
}

.card:nth-child(9) .date {
    color: #ff0c71;
}

.card:nth-child(10) .card-footer {
    background: #ff510c;
}

.card:nth-child(10) .date {
    color: #ff510c;
}

.card:nth-child(11) .card-footer {
    background: #03b43e;
}

.card:nth-child(11) .date {
    color: #03b43e;
}

.card:nth-child(12) .card-footer {
    background: #ccbf09;
}

.card:nth-child(12) .date {
    color: #ccbf09;
}

.card:nth-child(13) .card-footer {
    background: #09cca2;
}

.card:nth-child(13) .date {
    color: #09cca2;
}

.card:nth-child(14) .card-footer {
    background: #75f122;
}

.card:nth-child(14) .date {
    color: #75f122;
}

.card:nth-child(15) .card-footer {
    background: #fff126;
}

.card:nth-child(15) .date {
    color: #fff126;
}

.card:nth-child(16) .card-footer {
    background: #c2c2c2;
}

.card:nth-child(16) .date {
    color: #c2c2c2;
}

.leyenda {
    display: flex;
    flex-direction: column;
    
    h3{
        font-size: 20px;
    }
    min-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    justify-content: space-between;
    align-items: flex-end;
    

}
