.foto-grande {
    position: relative;
}

@media(max-width: 489px) {
    .foto-grande {
        margin-top: 50px;
    }
}

.fondo-negro {
    position: absolute;
    width: 50%;
    height: 100%;

    padding: 50px;

    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.625);

    h2 {
        font-size: 100px;
        text-transform: uppercase;
        font-weight: bold;

        margin-top: 10%;
    }

    span {
        font-size: 30px;
        font-weight: bold;
    }
}


.fondo-verde,
.fondo-azul2,
.fondo-gris2,
.fondo-naranja {
    width: 75%;
    background-color: #6DB249;

    padding: 50px;

    h3 {
        font-size: 80px;
    }

    span {
        font-size: 30px;
        font-weight: bold;
    }

}

.fondo-azul2 {
    background-color: #1B3863;
}


.fondo-gris2 {

    background-color: #3A7576;
}

.fondo-naranja {
    background-color: #D87331;
}

@media(max-width:1400px) {

    .fondo-negro,
    .fondo-verde,
    .fondo-azul2,
    .fondo-naranja,
    .fondo-gris2 {

        h2 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 45px !important;
        }

        span {
            font-size: 20px !important;
        }
    }
}

@media(max-width:1200px) {

    .fondo-negro,
    .fondo-verde,
    .fondo-azul2,
    .fondo-naranja,
    .fondo-gris2 {
        width: 100% !important;
        padding: 20px !important;

    }
}

@media(max-width:490px) {
    .fondo-negro {
        height: auto !important;
        position: sticky;
    }
}