.fondo-naranja{
    width: 50%;
    background-color: #DA8F3F;

    padding: 50px;
    
    h3 {
        font-size: 80px;
    }

    span {
        font-size: 30px;
        font-weight: bold;
    }
    
}

.fondo-celeste2 {
    width: 75%;
    background-color: #4586C6;

    padding: 50px;
    
    h3 {
        font-size: 80px;
    }

    span {
        font-size: 30px;
        font-weight: bold;
    }

}

.fondo-gris2{
    width: 75%;
    background-color: #3A7576;

    padding: 50px;
    
    h3 {
        font-size: 80px;
    }

    span {
        font-size: 30px;
        font-weight: bold;
    }
}
