.contact-form {
    --form-ok-color: #34A853;
    --form-error-color: #F7931D;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form>* {
    padding: 0.5rem;
    display: block;
    width: 100%;
}

textarea {
    resize: none;

}

.contact-form legend,
.contact-form-response {
    font-size: 20px;
    font-weight: bold;
    text-align: center;


    body.oscuro & {
        color: black;
    }
}

.contact-form input,
.contact-form textarea {
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form {

    input[type="submit"] {
        body.oscuro & {
            background-color: var(--form-ok-color);

        }

        width: 100%;
        background-color:#F7931D;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}



#form-distribuidores {
    width: 40%;
    margin-top: 20%;
    margin-bottom: 5%;

    letter-spacing: 5px;

    input[Type="submit"] {
        letter-spacing: 5px;
    }

    select {
        background-color: rgba(255, 255, 255, 0.308);
        color: black;
    }

    ::placeholder {
        text-align: center;

    }

    @media (max-width: 800px) {
        width: 80%;
    }
}


input,
textarea {
    background-color: rgba(255, 255, 255, 0.308);

    font-size: 15pt !important;
    text-transform: uppercase;
    font-weight: bold;



}

.textareaColorBlanco {
    background-color: #fff !important;
}

select {
    background-color: #F7931D;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

}



.contact-form [required]:valid {
    border: 4px solid var(--form-ok-color);
}

.contact-form [required]:invalid {
    border: 2px solid white;
}

.contact-form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-loader {
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}

@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}


form {
    ::placeholder {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: black;

    }

    :nth-child(n) {
        margin-top: 10px;
        border: 2px solid white;
    }

    legend {
        text-transform: uppercase;
        background-color: #F7931D;
        border: 2px solid white;

    }
}