* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 html {
    font-size: 15px;
    max-width: 100% !important;
    overflow-x: hidden !important; /* descubrí este reseteo para que no se me vea un espacio a la derecha en vista mobile cuando algun elemento se desborda. Intente haciendo overflow:hidden y quitar el scroll x , pero se seguia moviendo de todas formas */
    body {
        background: rgb(203,223,237);
        background: linear-gradient(90deg, rgba(203,223,237,1) 0%, rgba(60,61,64,1) 76%, rgba(176,177,189,1) 100%);
    color:white;
    overflow: hidden;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    text-transform:uppercase;
    background-color: rgb(219, 218, 228);
    ul {
        display: flex;
        li {
            list-style:none;
            margin-right: 3%;
            a {
                text-decoration: none;
                font-size: 22px;
                margin-right: 10px;
}}}}

#search__contenedor { /* ejemplo de no usar botstrap "para todo", me costo horrores encontrar algunos identificadorfes para modificar las ubicaciones del contenido. y casi ninguno de estos elementos reaccionan a las media Query */
    justify-content: flex-end;
    align-items: center;
    margin: auto;   
    #search__button {
    text-align: center;
    align-items: center;
    overflow: hidden;
    }
    #search__input {
    text-align:inherit;
    width: 50%;
    }
}
/* Estilos Navbar complementarios / se intentaba con esta consigna que no se parezca al que viene por defecto con botstrap, pero me costo poder administrar estos recursos*/
#search__contenedor {
    margin-right: 2%;
    margin-left: 2%;
}
#search__input {
    border: 0;
    
    color: black;
    outline: none;
}
#search__button {
    color: grey;
}
#form__login {
    margin-right: 15%;
    margin-top: 40px;
}

.logotipo {
    display: flex;
    justify-content: center;
}

main {
    max-width: 100%;
    color: white;
    section {
    margin-bottom: 10px;
    
    a {
       text-decoration: none; 
        } 
    }
}

h1 {
    color: white;
    margin-left: 10px;
    display: none;
}
h2 {
    width: 100%;
    margin-left: 12px;
    margin-top: 10px;
    font-family: 'B612', sans-serif;
    //text-shadow: 5px 6px 2px black;
    font-size: 40px;
    color: rgb(114, 197, 245);
    color: white;
} 
h3 {
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'B612', sans-serif;
    text-shadow: 3px 3px 2px black;
    color: rgb(114, 197, 245);
    color: white;
    height: 100%;       
}

.solucionador {
    display: flex;
    justify-content: center;
}


.tarjeta__empresa {
    display: flex;
    justify-content: center;
    background: none; 
    margin: auto;
}
#tarjeta__historia1, #tarjeta__historia2  {
    width: 43rem;
    color: rgb(36, 141, 226);
    text-align:justify;
}

.tarjetaproducto { /* este estilo, se va a ir viendo reflejado en distintas secciones de toda la pagina */
    .card-title { 
        font-size: 1.5rem;
        color: rgb(129, 129, 148);
        font-style: italic;
        text-align: center;
        }
        .card-body p {
            font-family: "B612";
            font-size: 20px;
            background: rgb(195, 226, 228);
            padding: 10px;
            color: black;   
            text-align: center;
            border-radius: 5px;
        }
    .tarjetaproducto__posicionamiento {
        margin-bottom: 30px;
    }
.dale__like {
    display: flex;
    justify-content: flex-end;
    li {
        list-style:none;     
        }
    }
}

.fondobomba  {
    display: flex;
    justify-content: space-between;
    background: rgb(187,255,249);
    background: linear-gradient(90deg, rgba(187,255,249,0.4794117476091999) 3%, rgba(0,34,245,0.49061622940191707) 18%, rgba(0,212,255,0.45420166357558645) 100%); 
    }

div.navegacion { /* esta relacionado con las flechas de navegacion que están arriba del footer */
    background: linear-gradient(90deg, rgba(203,223,237,1) 0%, rgba(60,61,64,1) 76%, rgba(176,177,189,1) 100%);
    display: flex;
    justify-content: space-between;
    height: auto;
    .tamaño__img--navegacion {
        width: 10%;
        height: 10%;
    }
}    
footer {
    display: flex;
    background-color: rgb(68, 67, 67);
    /* background: rgb(203,223,237);
    background: linear-gradient(90deg, rgba(203,223,237,1) 0%, rgba(60,61,64,1) 76%, rgba(176,177,189,1) 100%); */
    height: 140px;
    align-content: center;
    justify-content: space-between; 
    position: relative;
    
    .personita {
        width:calc(calc((100% / 40) + 60px)); /* no encontraba la forma de hacer que mi elemento que pesa un determinado "%" , no desapareciera de mi pantalla en tamaño mobile hasta que me encontré con esta funcion "calc" que me encantó */
        position:fixed;
        right: -15px;
        bottom: 0;
    }
    .burbujatexto {
        position: fixed;
        display: flex;
        text-align: center;
        align-items: center;
        right: 2rem;
        bottom: 7rem;
        width: calc(calc((100% / 10) + 210px));
        height: 100px;
        padding: 10px;
        color:grey;
        background-color:rgb(236, 234, 97);
        border-radius: 15px;
        a {
        text-decoration: none;
            p {
                color: grey;
            }

        }
        .triangulo {
        position: relative;
        bottom: -3.5rem;
        right: -10px;
        width: 0px; 
        height: 0px;
        transform: rotate(60deg);
        border-left: 50px solid #ecea61;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent; 
        }
    }
    #cerrarburbuja {
        position: absolute;
        width: 24px;
        bottom: 11.5rem;
        right: 3.5rem;
        color: black;
        font-size: 15px;
        border-radius: 50%;
        background:#fff;
        text-align: center;
        box-shadow: 4px 4px 0px (rgb(255,255, 255));
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            transform: rotate(0deg) translate(4px, 4px) scale(1);
            box-shadow: 0px 0px 0px
                   } 
    }
    .capa__personita {
        width:calc(calc((100% / 40) + 45px));
        height: 5rem;
        position:fixed;
        right: -15px;
        bottom: 0;  
        background:(0,0,0,0.0);
        cursor: pointer;
    }
    #btn-modal-img {
        display: none;
    }
    h6{
        display: flex;
    }
    
    span {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Lobster Two', cursive;
        font-size: 1.6rem;
        text-shadow: 4px 4px 6px black;
    }
    div.footer__line {
        width: 100%;
        height: 8px;
        background-color: black;
    }
    
    div.footer__image {
        width: 3rem;
        height: 3rem;
        
        }
    .footer__row{
        display: flex;
        justify-content: space-around;
    }
}
section article 
    {
    background: rgb(223, 236, 245);
    background: linear-gradient(90deg, rgba(203,223,237,1) 0%, rgba(99,227,235,1) 50%, rgba(82,221,244,1) 82%, rgba(69,85,252,1) 100%);
}