* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    max-width: 100% !important;
    overflow-x: hidden !important;

    /* descubrí este reseteo para que no se me vea un espacio a la derecha en vista mobile cuando algun elemento se desborda. Intente haciendo overflow:hidden y quitar el scroll x , pero se seguia moviendo de todas formas */
    body.claro {
        transition: 1s ease all;
        background-image: url(https://static6.depositphotos.com/1005574/664/v/450/depositphotos_6644153-stock-illustration-abstract-background.jpg);
        color: white;
        overflow: hidden;
        font-family: 'Readex Pro', sans-serif;


    }

    body.oscuro {
        transition: 1s ease all;
        background-image: url(https://st.depositphotos.com/1012885/4990/i/450/depositphotos_49900577-stock-photo-large-grunge-textures-backgrounds.jpg);
        color: white;
        overflow: hidden;
        font-family: 'Readex Pro', sans-serif;

    }

    main {
        padding: 10px 2%;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background: #202020;

    body.claro & {
        #hamburguesita {
            background-color: #de1f1f;
        }
    }

    body.oscuro & {
        #hamburguesita {
            background-color: #b5de1f;
        }

        background-color: rgb(219, 218, 228);
    }

    .switchContainer {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;

    }

    ul {

        display: flex;

        body.claro & .dropdown-menu {
            background-color: #de1f1f !important;

        }

        body.oscuro & .dropdown-menu {
            background-color: #a5de1f !important;
        }

        li {
            list-style: none;
            margin-right: 3%;

            a {
                text-decoration: none;
                font-size: 22px;
                margin-right: 10px;

                body.claro & {

                    color: rgb(190, 185, 185) !important;

                    &:hover {
                        color: #fff !important;
                    }
                }

                body.oscuro & {
                    color: rgb(81, 81, 81) !important;
                    text-shadow: 2px 2px 3px white;
                    font-weight: bold;

                    &:hover {
                        color: black !important;
                    }
                }

            }
        }
    }
}

/* main {
    max-width: 100%;
    color: white;
    section {
    padding: 10px 5%;
    margin-bottom: 10px;
    
    a {
       text-decoration: none; 
        } 
    }
} */
.hero img {
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {

    .container-footer-all {
        max-width: 1400px;
        padding: 10px 5%;
        margin-bottom: 10px;
    }

    .container-footer-body {
        display: flex;
        justify-content: space-between;
    }

    .column1 {
        max-width: 400px;
        height: 100%;
    }

    .column1 h3 {
        font-size: 22px;
        text-align: center;
    }

    .column1 p {
        margin-top: 20px;
        font-size: 14px;
        color: #c7c7c7;
    }

    .column2 {
        min-width: 400px;
        text-align: center;
        height: 100%;
    }

    .column2 h3 {
        font-size: 22px;
    }

    .column2 .row {
        margin-top: 20px;
        display: flex;

    }

    .row1 {
        display: flex;
        margin-top: 20px;
    }

    img {
        width: 35px;
        height: 36px;
        justify-content: flex-start;
    }

    .row1 a {
        text-decoration: none;
    }

    label {
        margin-top: 10px;
        margin-left: 20px;
        color: #c7c7c7;
        cursor: pointer;

    }

    .column3 {
        min-width: 400px;
        height: 100%;

    }

    .column3 h3 {
        font-size: 22px;
        text-align: center;
    }

    .row2 {
        margin-top: 20px;
        display: flex;
        align-items: center;

    }

    .row2 i {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }

    .row2-map i {
        margin-top: 20px;
        display: flex;
        width: 36px;
        height: 36px;
        font-size: 36px;
    }

    .row2 label {
        margin-left: 20px;
        max-width: 140px;
    }

    .container-footer {
        width: 100%;
        background: #101010;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .copyright {
        color: #c7c7c7;
    }

    a {
        font-weight: bold;
    }

    .information {
        margin-right: 200px;
    }

    .information a {
        color: #c7c7c7;
    }

    background-color: #202020;
    color: #fff;
    height: 100%;
    padding-top: 40px;
}

/* Estilos Navbar complementarios / se intentaba con esta consigna que no se parezca al que viene por defecto con botstrap, pero me costo poder administrar estos recursos*/
#search__contenedor {
    margin-right: 2%;
    margin-left: 2%;
}

#search__input {
    border: 0;

    color: black;
    outline: none;
}

#search__button {
    color: grey;
}


h1 {
    width: 100%;
    margin-left: 12px;
    margin-top: 10px;
    font-family: 'B612', sans-serif;
    //text-shadow: 5px 6px 2px black;
    font-size: 40px;
}

h2 {
    /* width: 100%;
    margin-left: 12px;
    margin-top: 10px;
    font-family: 'B612', sans-serif;
    //text-shadow: 5px 6px 2px black;
    font-size: 40px; */

    text-align: center;
    padding: 2.5rem 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: #e7dac2;
    font-size: 2.4rem;
    font-family: sans-serif;
    text-shadow: 3px 3px 2px black;

    body.oscuro & {
        color: black;
        text-shadow: 3px 3px 2px white;
    }
}


h3 {
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'B612', sans-serif;
    text-shadow: 3px 3px 2px black;
    color: white;
    height: 100%;
}

a {
    text-decoration: none;

    span {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
}