.novisible {
  display: none;
  visibility: hidden;
}

.container__products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.containerP {
  width: 280px;
  height: 500px;
  margin: 30px auto;
  margin-right: 45px;
  margin: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cardP {
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  position: relative;
}

.cardP-head {

  h2,
  h3 {
    font-size: 20px;
  }

  position: relative;
  height: 252px;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 3, 27, 1) 35%, rgba(0, 134, 204, 1) 100%);

}

.productP-img {
  position: absolute;
  left: 0;
  margin-top: -26px;
  margin-left: 100px;
}

.productP-detail {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  font-size: 11px;
  color: #fff;
  width: 60%;

  span {
    font-size: 14px;
  }
}

.productP-detail {
  h3 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  span {
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
  }
}

.cardP-body {
  height: 255px;
  background: #fff;
  color: black;
}

.productP-desc {
  padding-top: 20px;
}

.productP-caption {
  display: block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.productP-size h4 {
  font-size: 15px;
  padding: 0 21px;
  padding-top: 10px;
  margin-top: 15px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 10px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 25px;
}

.ul-size li {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  color: #000;
  cursor: pointer;
}

.ul-size li.active {
  background: #F7941D;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}


.productP-descargar {
  display: flex;
  width: 100%;
  height: 78px;
  padding: 2px;
  background: #F7941D;

  position: absolute;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 76px;

  font-weight: 400;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  cursor: pointer;

  a {
    text-decoration: none;
    width: 100%;
    color: black;
    line-height: 78px;
    align-items: center;

  }

  i {
    font-size: 40px;
  }

  b {
    font-size: 18px;
    font-weight: 100px;
    margin-left: 10px;
  }

  justify-content: space-around;
}


.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
  background: rgba(0, 0, 0, 0.2);
}

//Modal de producto

.modalDesc {

  width: 120%;
  height: 35rem;
  position: absolute;
  left: -30px;
  bottom: 0;
  background: #F7941D;
  border: 5px solid white;
  z-index: 1;

  h3 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;

    text-align: center;
    justify-content: center;
  }

  span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 28px;

  }

  ul {
    margin-top: 20px;
    color: #000;


    li {
      list-style: none;
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
    color: black;

  }

  img {
    margin-left: 20px;
  }
}

.btnModal {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: calc((100% / 2) - 12px);
  border-radius: 50%;
  background-color: white;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;

  box-shadow: 4px 4px 0px (rgb(30, 30, 30));
  transition: all 0.5s ease;

  &:hover {
    transform: rotate(0deg) translate(4px, 4px) scale(1);
    box-shadow: 0px 0px 0px
  }
}

.btn-efect {
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  color: #000;

  box-shadow: 4px 4px 0px (rgb(30, 30, 30));
  transition: all 0.2s ease;

  &:hover {
    transform: rotate(0deg) translate(4px, 4px) scale(1);
    box-shadow: 0px 0px 0px
  }

  body.oscuro & {
    background-color: black;
    color: white;
  }
}


.distribuidoresInter .btnModal {
  width: 35px;
  position: static;
  left: 20px;
  border-radius: 50%;
  background-color: #242424;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: white;

  box-shadow: 4px 4px 0px (rgb(24, 24, 24));
  transition: all 0.5s ease;

  &:hover {
    transform: rotate(0deg) translate(4px, 4px) scale(1);
    box-shadow: 0px 0px 0px
  }
}

#caracterContainer {
  font-size: 14px;
}

.productoPorCategory {

  .containerP {
    width: 280px;
    max-height: 400px;
    margin: 20px auto;
    margin-right: 45px;
    margin-left: 10px;
    margin-right: 10px;

    transition: all 0.5s ease;

    &:hover {
      transform: rotate(0deg) translate(4px, 4px) scale(1);

    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 0px;
      cursor: pointer;
    }


    .productP-detail {
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center;
      justify-content: center;
      text-align: center;

      h3 {
        font-size: 150%;
        margin-top: 90%;
        flex-wrap: wrap;
      }
    }
  }


  .cardP {
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .card {
    background-color: #11e95b;
  }

  .cardP-body {
    max-height: 100px;
  }
}

#productsSelector {
  color: #fff !important;
  background-color: #F7931D;
}

.btn-prev {
  position: absolute;
  left: 5px;
  font-weight: 800;
  cursor: pointer;

}

.btn-next {
  position: absolute;
  right: 5px;
  font-weight: 800;
  cursor: pointer;
}